<main>
  <div class="container w-100 ">
    <h5 class="text-center text-dark fw-bold p-5">{{user.role | capitalize}} Dashboard</h5>
    <div class=" row fw-bold text-dark ">
      <div class="rounded col m-2 bg-secondary p-3 text-center ">
        <p class="fs-3 fw-bold">Residents</p>
        <p class="fs-1">{{residents.length}}</p>
      </div>
      <div class="rounded col m-2 bg-secondary p-3 text-center ">
        <p class="fs-3 fw-bold">Care Givers</p>
        <p class="fs-1">{{caregivers.length}}</p>
      </div>
      <div class="rounded col m-2 bg-secondary p-3 text-center ">
        <p class="fs-3 fw-bold">Care Plans</p>
        <p class="fs-1">{{careplans.length}}</p>
      </div>
    </div>
    <div class="row py-3 bg-dark mt-5">
      <table class="table text-light rounded">
        <div class="d-flex justify-content-between">
          <p class="p-2 fs-4 fw-bolder text-success">List of Assigned Residents</p>

        </div>
        <thead>
          <tr class="text-success">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Date Admitted</th>
          </tr>
        </thead>
        <tbody>
          {% for resident in residents %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{resident.fullName}}</td>
            <td>{{resident.gender}}</td>
            <td>{{resident.address}}</td>
            <td>{{resident.phone}}</td>
            <td>{{resident.admissionDate}}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="assignResident" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-body">
            <form action="/admin/caregivers/{{caregiver.user._id}}/assign" method="post">
              <select name="residentId" class="form-select" aria-label="Default select example">
                <option selected>Select Resident to assign</option>
                {% for resident in residents %}
                <option value="resident._id">{{resdent.fullName}}</option>
                {% endfor %}
              </select>
              <div class="py-5">
                <button type="submit" class="btn btn-success">Assign</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>


  </div>
</main>