{% extends "formsLayout.njk" %}

{% block form %}
<form class="bg-white my-3 shadow p-3  col-12 col-md-8 rounded" action="/admin/newcaregiver" method="post">
    <h2 class="text-center p-2 p-md-3 fw-bolder fs-md-1 fs-4 text-success">Add Care Giver Form</h2>
    <p class="fw-bold text-success text-center">Provide all the information</p>

    {% if messages.error %}
    <div class="alert alert-danger text-center">
        {{ messages.error }}
    </div>
    {% endif %}

    {% if messages.success %}
    <div class="alert alert-success text-center">
        {{ messages.success }}
    </div>
    {% endif %}


    <div class="row py-2">
        <div class="accordion" id="ResidentForm">
            <div class="accordion-item">
                <h2 class="accordion-header" id="personalDetails">
                    <button class="accordion-button  shadow-none fw-bold text-dark" type="button"
                        data-bs-toggle="collapse" data-bs-target="#caregiverInformation" aria-expanded="true"
                        aria-controls="caregiverInformation">
                        Personal Information
                    </button>
                </h2>
                <div id="caregiverInformation" class="accordion-collapse collapse show" aria-labelledby="personalDetails"
                    data-bs-parent="#ResidentForm">
                    <div class="accordion-body">
                            <div class="py-3">
                                <label class="text-success fw-bold">Full Name</label>
                                <input required type="text" name="fullName" class="form-control w-100 shadow-none"
                                    placeholder="Full Name">
                            </div>
                        <div class="row py-2">
                            <div class="col">
                                <label class="text-success fw-bold">Gender</label>
                                <select class="form-select" name="gender" required>
                                    <option value="male" selected>Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="text-success fw-bold">Date of Birth</label>
                                <input required type="date" max="1970-12-01"  min="1900-01-01" name="dateOfBirth" class="form-control w-100 shadow-none"
                                    placeholder="Date of Birth">
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col">
                                <label class="text-success fw-bold">Address</label>
                                <input required type="text" name="address" class="form-control w-100 shadow-none"
                                    placeholder="Address">
                            </div>
                            <div class="col">
                                <label class="text-success fw-bold">Phone</label>
                                <input required type="tel" name="phone" class="form-control w-100 shadow-none"
                                    placeholder="Phone">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="Account">
                    <button class="accordion-button collapsed shadow-none fw-bold text-dark" type="button"
                        data-bs-toggle="collapse" data-bs-target="#Account" aria-expanded="true"
                        aria-controls="collapseOne">
                        Account Information
                    </button>
                </h2>
                <div id="Account" class="accordion-collapse collapse " aria-labelledby="kinDetails"
                    data-bs-parent="#ResidentForm">
                    <div class="accordion-body ">
                        <p class="text-center p-2 fs-5">Caregiver Login Details</p>
                        <div class="row py-2">
                            <div class="col">
                            <label class="text-success fw-bold">Email Address</label>
                            <input required type="email" name="email" class="form-control w-100 shadow-none"
                                placeholder="Email Address">
                            </div>
                            <div class="col">
                            <label class="text-success fw-bold">Password</label>
                            <input required type="password" name="password" class="form-control w-100 shadow-none"
                                placeholder="Password">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class=" row py-2 w-50 mx-auto">
                    <button type="submit" class="btn btn-dark   fw-bold">Add</button>
                </div>

        </div>
    </div>

</form>
{% endblock %}