{% extends "base.njk" %}


{% block content %}
<main class="container py-5">
    <div class="p-5 shadow bg-dark text-success">
        <table class="table table-borderless">
            <p class="fs-4 text-center p-4 font-bold">{{caregiver.fullName}} Details</p>
            <tbody class="text-white">
                <tr>
                    <td>ID</td>
                    <td>{{caregiver._id}}</td>
                </tr>
                <tr>
                    <td>Full Name</td>
                    <td>{{caregiver.fullName}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{caregiver.email}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{caregiver.address}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{caregiver.phone}}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{caregiver.gender}}</td>
                </tr>

                <tr>
                    <td>assigned</td>
                    <td>Name:</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-borderless">
            <p class="fs-4 text-center p-4 font-bold">Assigned Residents</p>
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#assignResident">Assign</button>
            <thead class="text-success">
                <tr>
                    <td>Resident Name</td>
                    <td>Resident Address</td>
                    <td>Resident Phone</td>
                    <td>Date Admitted</td>
                </tr> 
            </thead>
            <tbody class="text-white">
                {% for resident in caregiver.assignedResidents %}
                
                    <tr>
                        <td>{{resident.fullName}}</td>
                        <td>{{resident.address}}</td>
                       <td>{{resident.phone}}</td> 
                        <td>{{resident.admissionDate}}</td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>

    </div>

     <!-- Modal -->
     <div class="modal fade" id="assignResident" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         
         <div class="modal-body">
           <form action="/admin/caregivers/{{caregiver._id}}/assign" method="post">
             <select name="residentId" class="form-select" aria-label="Default select example">
               <option selected>Select Resident to assign</option>
               {% for resident in residents %}
               <option value="{{resident._id}}">{{resident.fullName}}</option>
               {% endfor %}
             </select>
             <div class="py-5">
               <button type="submit" class="btn btn-success">Assign</button>
             </div>
           </form>
         </div>
         
       </div>
     </div>
   </div>
</main>
{% endblock %}

<p class="p-4">Full Name: {{caregiver.fullName}}</p>
<p class="p-4">Email: {{caregiver.fullName}}</p>
<p class="p-4">Gender: {{caregiver.fullName}}</p>
<p class="p-4">Phone: {{caregiver.fullName}}</p>
<p class="p-4">Address: {{caregiver.fullName}}</p>