{% extends "base.njk" %}


{% block content %}
    <main>
  <div class="container w-100 ">
    <div class="row py-3 bg-dark mt-5">
      <table class="table text-light rounded">
        <div class="d-flex justify-content-between">
          <p class="p-2 fs-4 fw-bolder text-success">List of Residents</p>
          <div>
            <a type="button" href="/admin/newresident" class="btn btn-success text-white" >
              New Resident
            </a>
          </div>
        </div>
        <thead>
          <tr class="text-success">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Date Admitted</th>
            <tr scope="col"></tr>
          </tr>
        </thead>
        <tbody>
          {% for resident in residents %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{resident.fullName}}</td>
            <td>{{resident.gender}}</td>
            <td>{{resident.address}}</td>
            <td>{{resident.phone}}</td>
            <td>{{resident.admissionDate}}</td>
            <td>
              <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#assignResident">Assign</button>
            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>

    </div>

     <!-- Modal -->
    <div class="modal fade" id="assignResident" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-body">
            <form action="/admin/caregivers/{{caregiver.user._id}}/assign" method="post">
              <select name="residentId" class="form-select" aria-label="Default select example">
                <option selected>Select Resident to assign</option>
                {% for resident in residents %}
                <option value="resident._id">{{resdent.fullName}}</option>
                {% endfor %}
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <div class="py-5">
                <button type="submit" class="btn btn-success">Assign</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>

    
  </div>
</main>

{% endblock %}